body{
  text-align:center;
  background:linear-gradient(#093c8f 60%,#0af5be 70%,#02acf5 70%);
}

img{
  border-radius:50%;
  width:170px;
}
h1{
  text-shadow: 2px 2px #F8BBDO;
  font-size:20px;                  }
p{
  font-size:18px
  color: #0c690d;
}